.pagesNav {
	margin: 0 !important;
	background-color: white;
	padding: 0 35px 0 0;
}

@media screen and (max-width: 1455px) {
	.pagesNav {
		padding: 0 35px 0 35px;
	}
}

@media screen and (max-width: 990px) {
	.pagesNav {
		padding: 0 20px 0 20px;
	}
}
