.cardPadding {
	width: 100%;
	padding: 14px 28px;
}
.tablePadding {
	width: 100%;
	padding: 12px 0;
	margin-top: 32px;
}

.buttons {
	margin-right: 35px !important;
	margin-top: 7px !important;
}

.selectsResponsive {
	flex-direction: row;
}

.responsiveHeader {
}

.navPages {
	background-color: white;
}

@media screen and (max-width: 1455px) {
	.navPages {
		flex-direction: column;
		align-items: start !important;
		justify-content: start !important;
	}
}

@media screen and (max-width: 1140px) {
	.selectsResponsive {
		flex-direction: column;
	}
}

@media screen and (max-width: 460px) {
	.responsiveHeader {
		flex-direction: column;
		align-items: start !important;
		justify-content: start !important;
		padding: 0 20px !important;
	}
}
