.navPages {
	background-color: white;
}

@media screen and (max-width: 1455px) {
	.navPages {
		flex-direction: column;
		align-items: start !important;
		justify-content: start !important;
	}
}

.selectsResponsive,
.inputsResponsive,
.dateSelectResponsive,
.selectsBottomResponsive,
.taxContainer {
}

@media screen and (max-width: 700px) {
	.selectsResponsive,
	.selectsBottomResponsive,
	.inputsResponsive {
		flex-direction: column;
	}

	.dateSelectResponsive,
	.selectsBottomResponsive,
	.taxContainer,
	.inputsResponsive,
	.fullTextArea {
		width: 100% !important;
	}

	.taxContainer {
		margin-top: 12px;
	}
}
