.navPages {
	background-color: white;
}

@media screen and (max-width: 1455px) {
	.navPages {
		flex-direction: column;
		align-items: start !important;
		justify-content: start !important;
	}
}

.inputResponsive {
}

@media screen and (max-width: 700px) {
	.inputResponsive {
		flex-direction: column;
	}
}
