.button {
	padding: 6px 8px !important;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}

.button:hover {
	color: white;
}

.danger {
	background-color: #f8285a !important;
}

.danger:hover {
	background-color: #d81a48 !important;
}

.success {
	background-color: #17c653 !important;
}

.success:hover {
	background-color: #04b440 !important;
}

@media screen and (max-width: 575px) {
	.isFullWidthInMobile {
		width: 100% !important;
	}
}
