.exportContainer {
	position: relative;
}

.exportList {
	position: absolute;
	top: 46px;
	left: 0;
}

.btnExport {
}

@media screen and (max-width: 575px) {
	.exportContainer,
	.btnExport {
		width: 100% !important;
	}
}
